<script setup lang="ts">
import { ref } from "vue";
import {
  mdiFacebook,
  mdiInstagram,
  mdiYoutube,
  mdiTwitch,
  mdiGitlab,
  mdiHeart,
} from "@mdi/js";
</script>

<template>
  <v-container>
    <div class="justify-center" style="height: 660px">
      <br /><br /><br /><br /><br />
      <v-row class="hh4">
        <v-col class="h1">
          <h2 style="font-size: 17px" class="font-weight-thin">
            Hi! My name is
          </h2>
          <h2 style="font-size: 22px" class="font-weight-thin">
            Jeeranan Pongpitak
          </h2>
          <br />
          <p style="font-size: 15px">I'm learning Web Programming Yahoo!!</p>
          <div class="d-flex justify-space-around" style="padding-top: 80px">
            <v-btn
              size="38px"
              :icon="mdiFacebook"
              style="color: rgb(2, 89, 214)"
              href="https://www.facebook.com/jeeranun.pongpitak/"
            >
            </v-btn>
            <v-btn
              size="38px"
              :icon="mdiInstagram"
              style="color: rgb(236, 82, 99)"
              href="https://www.instagram.com/baitoeyxn/?hl=th"
            ></v-btn>
            <v-btn
              size="38px"
              :icon="mdiYoutube"
              style="color: rgb(255, 6, 6)"
              href="https://www.youtube.com/channel/UCfDGz7KdezxsSwOrkYQGUpQ"
            ></v-btn>
            <v-btn
              size="38px"
              :icon="mdiTwitch"
              style="color: rgb(160, 27, 183)"
              href="https://www.twitch.tv/baitoeyxn"
            ></v-btn>
            <v-btn
              size="38px"
              :icon="mdiGitlab"
              style="color: rgb(255, 143, 14)"
              href="https://gitlab.com/64160132"
            ></v-btn>
          </div>
        </v-col>
        <v-col class="text-right">
          <div>
            <v-avatar size="310">
              <v-img
                src="https://image.sistacafe.com/w800/images/uploads/summary/image/5043/1449106947-Instagrams-most-famous-cat-Nala16__605.jpg"
                alt="Baitoey"
              ></v-img>
            </v-avatar>
          </div>
        </v-col>
      </v-row>
      <v-row></v-row>
    </div>
    <div>
      <v-divider></v-divider>
    </div>
    <div>
      <br />
      <h2 class="font-weight-thin" style="text-align: center">EDUCATION</h2>
      <br /><br />
    </div>
    <div>
      <v-timeline align="start">
        <v-timeline-item>
          <template v-slot:opposite> Kindergarten </template>
          <div>
            <div class="text-h6">OrawinwittayaKom School (K1 - K3)</div>
            <p>
              Address: Pluak Daeng Subdistrict, Pluak Daeng District, Rayong
              Province
            </p>
            <br />
          </div>
        </v-timeline-item>

        <v-timeline-item>
          <template v-slot:opposite> Primary </template>
          <div>
            <div class="text-h6">Orawin Wittaya School (P1 - P6)</div>
            <p>
              Address: Pluak Daeng Subdistrict, Pluak Daeng District, Rayong
              Province
            </p>
            <br />
          </div>
        </v-timeline-item>

        <v-timeline-item>
          <template v-slot:opposite> Secondary </template>
          <div>
            <div class="text-h6">Pluakdaengpittayakom (S1 - S6)</div>
            <p>
              Address: Pluak Daeng Subdistrict, Pluak Daeng District, Rayong
              Province
            </p>
            <br />
          </div>
        </v-timeline-item>

        <v-timeline-item>
          <template v-slot:opposite> Now </template>
          <div>
            <div class="text-h6">Burapha University</div>
            <p>
              Address: 169 Long Had Bangsaen Rd, Saen Suk, Chon Buri District,
              Chonburi
            </p>
            <br />
          </div>
        </v-timeline-item>
      </v-timeline>
    </div>
    <br />

    <div>
      <v-hover>
        <template v-slot:default="{ isHovering, props }">
          <v-card
            v-bind="props"
            :color="isHovering ? 'primary' : undefined"
            title="I'm interested in.."
          >
          </v-card>
        </template>
      </v-hover>
    </div>
    <br /><br />

    <div>
      <v-row>
        <v-col>
          <v-card class="mx-auto" max-width="400">
            <v-img
              class="align-end text-white"
              height="200"
              src="https://s40424.pcdn.co/in/wp-content/uploads/2022/05/ui-ux-1140x900.jpg"
              cover
            >
            </v-img>

            <v-card-subtitle class="pt-4"> UI and UX Design </v-card-subtitle>

            <v-card-text>
              <div>
                รู้สึกชอบงานในสายนี้เพราะได้ใช้ทักษะการออกแบบ การสังเกต
                วิเคราะห์ ควบคู่ไปกับการเขียนโปรแกรม
              </div>
            </v-card-text>

            <v-card-actions>
              <v-btn :icon="mdiHeart" color="red"></v-btn>

              <v-btn color="orange"> Share </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col>
          <v-card class="mx-auto" max-width="400">
            <v-img
              class="align-end text-white"
              height="200"
              src="https://images.ctfassets.net/aq13lwl6616q/5D0o8xDyIXnNxyWLMtnXmO/08459264445e2d13228a3d1b20ef8229/Become_a_Frontend_Developer.jpg?w=800&h=450&q=50&fm=webp"
              cover
            >
            </v-img>

            <v-card-subtitle class="pt-4"> Frontend Developer </v-card-subtitle>

            <v-card-text>
              <div>รู้สึกสนใจและอยากศึกษา</div>
            </v-card-text>

            <v-card-actions>
              <v-btn :icon="mdiHeart" color="red"></v-btn>

              <v-btn color="orange"> Share </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <div></div>
    <br /><br />
    <div>
      <v-row align="center" justify="center">
        <v-col cols="12">
          <v-hover v-slot="{ isHovering, props }" disabled>
            <v-card
              :elevation="isHovering ? 12 : 2"
              class="mx-auto"
              height="750"
              max-width="300"
              v-bind="props"
            >
              <v-card-text class="my-4 text-center text-h6">
                My Hobbies..!!
              </v-card-text>
              <div class="ma-4">
                <div class="text-subtitle-2">watch movies</div>
                <v-img
                  class="bg-white"
                  width="300"
                  :aspect-ratio="1"
                  src="https://help.nflxext.com/43e0db2f-fea0-4308-bfb9-09f2a88f6ee4_what_is_netflix_1_en.png"
                  cover
                ></v-img>
              </div>
              <div class="ma-4">
                <div class="text-subtitle-2">listen music</div>
                <v-img
                  class="bg-white"
                  width="300"
                  :aspect-ratio="1"
                  src="https://images.fonearena.com/blog/wp-content/uploads/2022/08/Spotify-Redesign-Home-screen-1024x521.png"
                  cover
                ></v-img>
              </div>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </div>
    <br /><br />
  </v-container>
</template>

<style scoped>
.hh4 {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
}
.h1 {
  padding-left: 100px;
  padding-top: 100px;
}
.text {
  text-align: center;
}
</style>
